.operation-form {
    margin-top: 1.5rem;
}

.operation-form__input-name {
    border: none;
    border-bottom: 1px solid #000;
    height: 2rem;
    width: 50%;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    background-color: transparent;
    outline: none;
}



.operation-form__input-submit {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    color: #000;
    border: 0.1rem solid #000;
    padding: 0.75rem;
    width: 10rem;
    border-radius: 0.5rem;
    text-align: center;
    transition: 0.3s;
    align-self: flex-end;
    outline: none;

    &:hover {
        font-weight: bold;
        border: 0.15rem solid #000;
    }
}